.icon-left {
position: absolute;
top: 100px;
left: 100px;
}

.icon-buttom-right{
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.season-display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter{
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}

.season-display.winter i {
  color: blue
}

.season-display.summer i {
  color: red;
}

